[hub]
	host = eHealthAfrica.org
[user]
	name = Oluwafemi Olofintuyi
	email = oluwafemi.olofintuyi@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[github]
	user = femilofin
[credential]
	helper = osxkeychain
