[hub]
	host = eHealthAfrica.org
[user]
	name = Oluwafemi Olofintuyi
	email = oluwafemi.t.olofintuyi@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[github]
	user = femilofin
	token = 3eb0335f1f37a14f08c10317fbc05b189530cbc8
[credential]
	helper = osxkeychain
